@import './styles/reset.scss';
@import './styles/variables.scss';
@import './styles/themes/dark-theme.scss';

html,
body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;

  background: var(--bg-secondary);
  color: var(--text-primary);
}

button,
input {
  &:focus {
    outline: 2px solid var(--accent);
    outline-offset: 0.2rem;
  }
}

a,
button {
  &:focus {
    opacity: 0.8;
  }
}

a {
  color: var(--link);
}

.mat-snack-bar-container {
  width: 320px;

  padding: 1rem;
  margin: 2rem;

  border-radius: var(--radius);

  color: var(--text-primary);
}

// * Default styles
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
