<div class="toolbar">
  <!-- TODO (search-input): create a component for search -->
  <input class="search-input" type="text" placeholder="Search" />

  <div class="actions">
    <app-button (click)="openForm()">New</app-button>
  </div>
</div>

<div class="container">
  <table>
    <thead class="header">
      <tr class="header-row">
        <th>Name</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="main">
      <tr class="user-card" *ngFor="let user of users$ | async; trackBy: trackByID">
        <td>
          {{ user.name }}
        </td>
        <td>{{ user.email }}</td>
        <td class="settings">
          <button *ngIf="canDeleteUser(user) | async" (click)="deleteUser(user)" class="settings-btn delete-btn">
            <app-icon>delete</app-icon>
          </button>

          <button (click)="openForm(user)" class="settings-btn">
            <app-icon>more_vert</app-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
