:root {
  // To strict some sizes
  --alley: 1rem;
  --radius: 0.25rem;

  /* Sort by size */
  --xx-small: smaller;
  --x-small: smaller;
  --small: smaller;
  --smaller: smaller;
  --medium: medium;
  --large: large;
  --larger: larger;
  --x-large: x-large;
  --xx-large: xx-large;
}
