:host {
  padding: 5rem;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* TODO (search-input): move to the component */
  .search-input {
    padding: 0.5rem;

    font-size: var(--large);

    border: none;
    border-radius: var(--radius);
    border: 2px solid var(--text-secondary);

    color: var(--text-secondary);
    background: var(--bg-primary);
  }
}

table {
  width: 100%;

  border-collapse: separate;
  border-spacing: 0 1em;

  .header {
    font-size: var(--large);
    th {
      text-align: start;
      text-indent: var(--alley);
    }
  }

  .main {
    color: var(--text-secondary);
  }
}

.user-card {
  margin: var(--alley) 0;
  padding: 2rem;

  font-size: var(--x-large);

  background: var(--bg-primary);

  td {
    padding: 2rem;
  }

  .settings {
    text-align: right;

    .settings-btn {
      padding: 1rem;
      border-radius: 50%;

      &:hover {
        background: var(--hover);
      }
    }
    .delete-btn {
      color: var(--red);
    }
  }
}
