h2 {
  // * Centralize
  position: relative;

  right: 50%;
  top: 50%;

  text-align: center;
  width: 100%;

  transform: translate(50%, -50%);

  // * Styles
  font-size: 8rem;

  margin: 0;
  padding: 0;

  color: var(--yellow);
}
