mat-dialog-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 5%;
}

.row {
  display: flex;
  justify-content: space-between;

  gap: var(--alley);

  app-form-field-input {
    max-width: 45%;
  }
}
