<div class="container">
  <div class="modal-header">
    <h2 class="title">{{ formTitle$ | async }}</h2>
    <hr />
  </div>
  <div class="modal-content">
    <div class="row">
      <app-form-field-input [label]="'Email'" [type]="'email'" [control]="form.controls.email">
        <div class="error" *ngIf="emailError$ | async as errorMessage">{{ errorMessage }}</div>
      </app-form-field-input>

      <app-form-field-input [label]="'Name'" [control]="form.controls.name">
        <div class="error" *ngIf="nameError$ | async as errorMessage">{{ errorMessage }}</div>
      </app-form-field-input>
    </div>

    <app-form-field-input [label]="'Password'" [type]="'password'" [control]="form.controls.password">
      <div class="error" *ngIf="passwordError$ | async as errorMessage">{{ errorMessage }}</div>
    </app-form-field-input>

    <app-form-field-input
      [label]="'Password Confirmation'"
      [type]="'password'"
      [control]="form.controls.passwordConfirmed">
      <div class="error" *ngIf="confirmedPasswordError$ | async as errorMessage">{{ errorMessage }}</div>
    </app-form-field-input>
  </div>

  <div class="modal-actions">
    <app-button [type]="'warn'" (click)="close()">Cancel</app-button>
    <app-button [type]="'primary'" (click)="save()" [disabled]="this.form.invalid">{{
      (formStatus$ | async) === 'creating' ? 'Create' : 'Update'
    }}</app-button>
  </div>
</div>
